.rotate-90 {
    transform: rotate(90deg);
}

.rotate-180 {
    transform: rotate(180deg);
}

.transition-all {
    transition: all 150ms ease-in-out;
}

.text-primary {
    color: var(--text-color-default);
}