<div class="dashboard-layout">
	<aside class="dashboard-layout-sidebar opened">
		<div class="dashboard-layout-sidebar-title">
			<div class="sidebar-icon-wrapper">
				<button class="sidebar-toggler">
					<span class="iconify-inline" data-icon="ic:baseline-menu"></span>
				</button>
			</div>
			<span class="sidebar-text-wrapper">
				<h1>SIDEBAR TITLE</h1>
			</span>
		</div>

		<ul class="dashboard-layout-sidebar-menu">
			<li class="dashboard-layout-sidebar-menu-item">
				<div class="dashboard-layout-sidebar-menu-parent">
					<div class="sidebar-icon-wrapper">
						<span class="iconify-inline" data-icon="ic:baseline-space-dashboard"></span>
					</div>
					<span class="sidebar-text-wrapper">SIDEBAR LINK</span>
				</div>
				<div class="dashboard-layout-sidebar-menu-children">
					<ul>
						<li><a href="">SUBMENU</a></li>
						<li><a href="">SUBMENU</a></li>
						<li><a href="">SUBMENU</a></li>
						<li><a href="">SUBMENU</a></li>
					</ul>
				</div>
			</li>

			<li class="dashboard-layout-sidebar-menu-item">
				<div class="dashboard-layout-sidebar-menu-parent">
					<div class="sidebar-icon-wrapper">
						<span class="iconify-inline" data-icon="ic:baseline-space-dashboard"></span>
					</div>
					<span class="sidebar-text-wrapper">SIDEBAR LINK</span>
				</div>
				<div class="dashboard-layout-sidebar-menu-children">
					<ul>
						<li><a href="">SUBMENU</a></li>
						<li><a href="">SUBMENU</a></li>
						<li><a href="">SUBMENU</a></li>
						<li><a href="">SUBMENU</a></li>
					</ul>
				</div>
			</li>

			<li class="dashboard-layout-sidebar-menu-item">
				<div class="dashboard-layout-sidebar-menu-parent">
					<div class="sidebar-icon-wrapper">
						<span class="iconify-inline" data-icon="ic:baseline-space-dashboard"></span>
					</div>
					<span class="sidebar-text-wrapper">SIDEBAR LINK</span>
				</div>
				<div class="dashboard-layout-sidebar-menu-children">
					
				</div>
			</li>
		</ul>
    </aside>

    <div id="content" class="dashboard-layout-content opened">
		{{{body}}}
    </div>
</div>


<script data-mode="module" src="/src/modulesJS/dashboard.js"></script>
