<div>
	<header class="w-full h-[50px] bg-orange-400">
		<div class="container mx-auto">
			<div class="flex gap-4 justify-between">
				<h1 class="h-[50px] flex items-center">Meu Website</h1>

				<nav class="h-[50px] flex items-center">
					<ul class="flex gap-2">
						<li><a href="/">Home</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/contact">Contact</a></li>
						<li><a href="/login">login</a></li>
					</ul>
				</nav>
			</div>
		</div>
    </header>

    <div id="content">
		<div class="min-h-[calc(100vh-100px)]">

			{{{body}}}
		</div>
    </div>

    <footer class="bg-orange-400 w-full h-[50px]">
		<div class="container mx-auto">
			<div class="flex items-center h-[50px]">
				<p>Rodapé do meu site</p>
			</div>
		</div>
    </footer>
</div>
